{% extends "admin/login.html" %}

{% block title %}Log in | {{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block extrahead %}
<script type="text/javascript">
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/get-csrf-token/', true);
  xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.onreadystatechange = function() {
      if (this.readyState === 4 && this.status === 200) {
          var csrf_token = JSON.parse(this.responseText).csrftoken;
          document.getElementsByName("csrfmiddlewaretoken")[0].value = csrf_token;
          document.cookie = 'csrftoken=' + csrf_token + ';Path=/';
      }
  };
  xhr.send();
</script>
{% endblock %}

{% block content %}
<h1>Log in to My Awesome Site</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'admin:index' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log in</button>
    <input type="hidden" name="next" value="{% url 'admin:index' %}">
</form>

{% endblock %}
